/* Global */
body {
    background: #ffffff;
    font-family: 'Roboto',
    sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

.copy {
    opacity: 0.6;
    text-align: center;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Main */
main {
    margin: 0 1rem;
}

/* Search bar */
#myInput {
    background-image: url("https://www.w3schools.com/css/searchicon.png");
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-size: 1.5rem;
    padding: .5rem 1rem .5rem 2.5rem;
    font-size: 18px;
    border: 2px #ddd solid;
    width: calc(100% - 3.8rem);
    margin: 1rem 0;
}

/* Name List */
#myUl {
    padding: 0;
    margin: 0;
    list-style: none;
}

#myUl li {
    margin: .2rem 0;
    padding: .5rem .5rem;
    border: 2px #ddd solid;
    cursor: pointer;
}

#myUl li:hover {
    transition: .2s;
    background: #f0efef;
}

@media (min-width: 800px) {
    main {
        margin: auto;
        width: 40vw;
    }
}